* {
  box-sizing: border-box;
  font-family: "Oswald";
  margin: 0;
  padding: 0;
}

body {
  color: orange;
  background-color: black;
}

.hidden {
  display: none;
}

.error-message {
  color: red;
}

input {
  border: 1px black solid;
  background-color: #c8c8c8;
  color: black;
}

::placeholder {
  color: black;
}

.container {
  text-align: center;
  /* border: 1px red solid; */
  width: 300px;
  height: 200px;
  margin: 0 auto;
}

.info-container {
  text-align: center;
  /* border: 1px red solid; */
  width: 300px;
  height: 150px;
  margin: 0 auto;
  font-size: 14px;
}

.stats-container {
  text-align: center;
  /* border: 1px red solid; */
  width: 300px;
  height: 320px;
  margin: 0 auto;
  font-size: 14px;
}

.picture-container {
  text-align: center;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-top: 70px;
}

.basketball-img {
  width: 200px;
  height: 200px;
}

ul {
  list-style: none;
}
